.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 15vh;
    border-left: 3px solid rgb(146, 191, 221);
    padding: 5px 5px;
    margin: auto;
    margin-bottom: 50px;
    /* Used for hover sliding background effect */
    background-size: 200% 200%;
    transition: background-position 0.75s;
    background-image: linear-gradient(to right, rgb(146, 191, 221) 50%, rgb(192, 211, 224) 0);
    background-position: right;
}

.bar:hover {
    background-position: left;
    cursor: pointer;
}

.bar-logo {
    width: 15vh;
    flex-shrink: 0;
}

.bar-logo img {
    display: block;
    margin: auto;
    width: 60%;
    height: auto;
}

.bar-content {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;  
}

.bar-content h1, .bar-content h2 {
    font-size: 20px;
    margin: 0;
}

.bar-content-headers {
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:550px) {
    .bar-content-headers {
        display: block;
    }
    
    .bar-content {
        -webkit-line-clamp: 5;
    }

    .bar-content h1, .bar-content h2 {
        font-size: 15px;
    }
}