.modal {
  height: 75vh;
  width: 75vw;
  position: absolute;
  left: 12.5vw;
  top: 10%;
  background-color: #f1f1f1;
  border: 1px solid rgb(96, 96, 96);
  border-radius: 10px;
}

.modal-header {
  height: 30px;
  padding: 10px;
}

.modal-content {
  padding: 16px 30px 30px;
  overflow: scroll;
  height: calc(75vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-content p {
  margin: 0;
}

.modal-content h2 {
  margin-top: 0;
}

.close-icon {
  height: 25px;
  padding: 5px;
  border-radius: 5px;
  float: right;
}

.close-icon:hover {
  background-color: #ddd;
  cursor: pointer;
}

.modal-tags {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.modal-tags li {
  font-size: 14px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2px 5px;
  margin: 5px 2px 0px;
}
