.project-gallery {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 85%;
    margin: auto;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /* Makes ProjectTiles appear behind header dropdowns */
    z-index: 0;
}