.page {
  height: 100vh;
}

.page > h1 {
  margin-top: 0;
  padding-top: 10vh;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: 2px solid rgb(96, 96, 96);
  width: 75vw;
  margin: auto;
  margin-bottom: 5vh;
  font-size: 36pt;
  font-family: "Copperplate", serif;
  font-weight: 900;
}

/* --- Home Page --- */
/* TODO: Make sure all usages appropriately use vw instead of vh where needed */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-links {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-link-element {
  font-size: 20px;
  padding: 4px;
  margin: 4px;
  color: white;
  font-family: "Copperplate", serif;
}

.home-link-element:hover {
  background-color: rgb(146, 191, 221);
  transition: background-color 0.5s;
  cursor: pointer;
}

/* --- Experience Page --- */

/*.experience {
    background-color: rgb(192, 211, 224);
}*/
.experience {
  background-image: linear-gradient(
      to top,
      rgba(255, 250, 231, 1),
      rgb(255, 250, 231, 0.5)
    ),
    url("../resources/repeating-triangles.svg");
}

/* --- Projects Page --- */

.projects {
  background-color: rgb(207, 224, 220);
}

/* --- Resume Page --- */

.resume {
  padding-top: 65px;
}

.resume embed {
  width: 100vw;
  height: calc(100vh - 65px);
}

/* --- About Me Page --- */
.about-me {
  background-image: linear-gradient(
      to bottom,
      rgba(146, 191, 221, 0.8),
      rgb(192, 211, 224)
    ),
    url("../resources/topography.svg");
}

.about-me-content {
  display: flex;
  justify-content: center;
  padding-top: 3vh;
}

.about-me-descriptions {
  width: 30vw;
  padding-right: 6vw;
  padding-top: 2vh;
  font-size: 20px;
  font-family: "Source sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.about-me img {
  border-radius: 20%;
  align-self: center;
  width: auto;
  height: auto;
}

.about-me-links svg {
  max-width: 50px;
  max-height: 50px;
  transition: transform 0.2s ease-in-out;
  padding-right: 10px;
}

.about-me-links svg:hover {
  transform: scale(1.15);
}

@media (max-width: 1200px) {
  .about-me img {
    max-width: 30vw;
  }
}

@media (max-width: 900px) {
  .about-me-content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
  }
  .about-me img {
    max-width: 50vw;
  }
  .about-me-descriptions {
    width: 80vw;
    padding-top: 5vh;
    padding-right: 0;
    font-size: 17px;
  }
}
