.GalleryHeader {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
    flex-direction: row-reverse;
}

.Hover {
    font-size: 14px;
    border: 1px solid #ccc;
    color: rgb(94, 94, 94);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 4px;
    position: relative;
}

.Dropdown {
    /*display: none;*/
    display: none;
    position: absolute;
    padding: 10px;
    margin-top: 2px;
    right: 0%;
    width: 200px;
    /*height: 200px;*/
    background-color: #f9f9f9;
    color: rgb(94, 94, 94);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    border-radius: 10px;
}

.Dropdown .Category {
    margin-bottom: 10px;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
    display:inline-block;
}

.Dropdown .Radio {
    padding: 5px;
}

.Dropdown .FilterOptions {
    padding-bottom: 10px;
}

.Dropdown.Sort {
    padding-top: 20px;
    padding-bottom: 20px;
}

.Dropdown .SortOptions {
    color: rgb(94, 94, 94);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 2px;
}


.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 2px;
    background-color: #eee;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.Hover:hover .Dropdown {
    display: block;
}

