.Tile {
    border: 2px solid #ccc;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding-top: 0px;

    height: 150px;
    width: 225px;
  }
  
  .Tile h1 {
    position: relative;
    font-size: 22px;
    margin: 0%;
    border-bottom: 2px solid #ccc;
  }
  
  .Tile p {
    font-size: 14px;
    text-align: left;
    padding-left: 35%;
    padding-top: 5px;
    margin: 0%;
    color: rgb(94, 94, 94);
  }
  
  /*ol {
    text-align: center;
    list-style-type: none;
    padding: 0;
  }
  
  ol li {
    margin: 5px 0;
  }*/
  
  