.TileGallery {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 85%;
    margin: auto;
}

.ListOfTiles {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}